<a href="https://colab.research.google.com/github/C8203-Cht/Python-Assignment/blob/main/PYTHON_BAS%C4%B0C_GENERAL_REPEAT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello")

hello

In [2]:
print('Hello World!')

Hello World!

In [3]:
print('Being a good person')

Being a good person

In [4]:
print("   .   ") # tırnak içerisinde yazılan her şey string veri tipidir. Boşluklar da dahil...
# tek tırnakla başlayan tekle, çiftle başlayan çiftle bitecek

   .

In [5]:
print("I'm happy to learn...")

I'm happy to learn...

In [6]:
print('Arkadaşım "merhaba" dedi...')

Arkadaşım "merhaba" dedi...

''' Üç tırnak kullanmak uzun metinlerde her zaman daha mantıklı olabilir.
Dörtlü tırnak yoktur. Çalışmaz...

In [7]:
print('''tekrar yapıyorum''')

tekrar yapıyorum

In [ ]:
print("""Bana "topçu" diye bağırdı. I'm happy to see you""")

Bana "topçu" diye bağırdı. I'm happy to see you

In [ ]:
print('''Bana "topçu" diye bağırdı. I'm happy to see you''')#Tekli üçlü tırnak da çıktı alır.

Bana "topçu" diye bağırdı. I'm happy to see you

In [ ]:
print("3.14")
print(3.14)

3.14
3.14

In [ ]:
print("print(3.14)")

print(3.14)

In [ ]:
print(''''We should have enough time for our family"''')

'We should have enough time for our family"

In [8]:
print('''''''''''')# tırnaklar birbirini karşıladığı için boş string aldı...

In [9]:
print('We should have enough time for our family") 
# tek tırnakla başlayıp çiftle bittiği için hata verir

SyntaxError: ignored

In [ ]:
print('first line')
print()
print('third line')

first line

third line

In [ ]:
print()
print('') # iki boş satır çıktı verir...

In [12]:
print()
print('''') 
# hata verir

SyntaxError: ignored

PEP 8 RULES (PYTHON ENHANCEMENT PROPOSAL)

In [ ]:
print('Being a good person') #bir satırda 79 karakteri geçmesek iyi olur.

Being a good person

*** Fazladan boşluk bırakmaktan kaçının:
1- [] parantez veya () parantez veya {} içine bir şey yazacağımız zaman gereksiz boşlıktan kaçın
2-(2,) parantez içindeki virgülden sonra boşluk bırakmayın
3- :  ; ve  , den önce boşluk bırakmıyoruz
4- () açmadan önce boşluk bırakmamalıyız. print  () gibi...

In [ ]:
print("hello world")  # Bu benim code ile aynı satırda olan ilk comment'im Bu
                      # inline comment
# Single comment: satırda hiçbir code yoksa olur... Like this
# print("hello") burada ctl / (slash) yaparak satırın tamamını commente çevirdim.
# ctrl / tekrar çalıştırılırsa commenti tekrar eski haline çevirir.
# Bir satırda hem cod hem de commentler varsa buna multi-line comment denir.
# comment: neccesary, sufficient and updated olmalı

hello world

Docstring: ._doc_ comment2ten farklı olarak daha çok metin ve açıklamanın yer aldığı açıklama bölümüne benzer metinlerdir. fonksiyonun dokümantasyonu anlamına gelir. print.__doc__ yazdığımız zaman print fonksiyonunun açıklamasına ulaşabiliriz.

In [ ]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [ ]:
print(print.__doc__) # bu şekilde de görebiliriz.

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [ ]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [ ]:
print(input.__doc__)

Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

NAMİNG VARİABLE
****küçük harfler kullanılır, büyük harf tercih edilmez, sözcükler arasında _ kullanılır, küçük L kullanılmaz, büyük "O" 0 ile karışabilir, bunların hepsi çalışır ama kafa karıştırır. Python a ait belli keywordleri kullanmamalıyız. keyword lerin rengi farklı oluyor zaten.
**** Python case sensitive dir. Yani büyük harf küçük harf duyarlıdır. Büyük harf ve küçük harf birbirinden farklıdır.
****İsimler rakamla başlayamaz, arada rakam olabilir, aralarında boşluk olmaz, özel karakterler kullanılmaz

In [ ]:
# variable_name = value
x = 11
print(x)
y = 22.5
print(y)
z = "otuz üç"
print(z)

11
22.5
otuz üç

In [ ]:
my_age = 33
your_age = 30
my_age = your_age # son atanan değişken değeri güncel olur. Sağdaki değeri eşittirin soluna atar.
print(my_age)

30

In [ ]:
x = 10
x = 12 
x = 13
x = 14
print(x) # x e atanan en son değeri çıktı alır.

14

In [ ]:
xx = 11
yy = 21 
zz = 15
xx = yy
zz = xx
print(xx,yy,zz)

21 21 21

In [ ]:
$cht = 14

SyntaxError: ignored

In [ ]:
cht%/&%tsc = 15

SyntaxError: ignored

In [ ]:
yağmur = "sağanak" # ğ gibi Türkçe karakterlerde problem çıkarmadığını görüyoruz.

In [ ]:
# Name okunabilir, anlamlı ve değerle uyumlu olarak verilmelidir.

In [ ]:
# Average incom of February
avg_income_feb = "...."

BASİC DATA TYPES

İnteger

String

Numeric:

Float

Boolean

In [ ]:
january = march = may = july = august = october = december = 31
april = june = september = november = 30
february = 28
print(january, february, march, april, may, june, july, august, september, october, november, december)

31 28 31 30 31 30 31 31 30 31 30 31

In [ ]:
11 = 12
print(11)

SyntaxError: ignored

In [13]:
thomas = 33
marry = 28
walter = None # Bir değişkeni boş bırakıp daha sonra kullanmak istiyorsam 
              #  None değeri atarım...
isabella = 46

In [ ]:
website ="apple.com"
print(website)
website = "clarusway.com"
print(website) # Bir değişkene sonradan burada olduğu gibi yeni bir değer atayabiliriz.

apple.com
clarusway.com

In [ ]:
x = 11
y = 12
z = 13
x = 14 
z = 15 
x = 16
print(x,y,z)

16 12 15

In [ ]:
a, b , c = 5, 3.2, "Hello" # eşitliğin iki tarafındaki değişken ve değer sayısı eşit olacak.
print(a)
print(b)
print(c)

5
3.2
Hello

In [ ]:
my_text = "Being a good person"
my_text = 'Being a good person'
my_text = '''Being a good person''' # string iterable dır. yani elemanlarına teker teker ayrılabilir.
# string veri tırnaklarla yapılır
type(my_text) # bir değikenin type'ını yandaki type fonksiyonuyla öğrenebiliriz.
# str: string değerlerin type ıdır.

str

In [ ]:
x = 632
print(x)

632

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
# integer tamsayılardır. int

my_integer = 40
negative_integer = -18
print(my_integer,negative_integer)

40 -18

In [ ]:
# float ondalık sayılardır. float
my_float = 40.0
negative_float = -18.66
print(my_float,negative_float)

40.0 -18.66

In [ ]:
# Herhangi bir değişkenin değeri True veya False ise o bir bloolean'dır.

TYPE CONVERSİON YANİ VERİ TÜRLERİNİN BİRBİRİNE DÖNDÜRÜLMESİ

In [ ]:
my_data = "I am string"
# str() bu şekilde her türlü veriyi stringe çevirebiliriz.
# int()
# float()
print(str(True))
pi = 3.14
print(type(pi))
converted_str = str(pi)
print(converted_str)
print(type(converted_str))

True
<class 'float'>
3.14
<class 'str'>

In [ ]:
# from float to integer' a dönüştürürken ondalık kısmı yuvarlar yani
# virgülden sonrasını tamamen atar.
pi = 3.14
print(type(pi))
converted_pi = int(pi)
print(converted_pi) 
print(type(converted_pi))

<class 'float'>
3
<class 'int'>

In [ ]:
# from integer to float and string: String'in içindeki tam sayı rakamla olursa döndürür, diğer durumlarda döndürmez.
a = "10"
print(int(a))
x = 3
print(type(x))
converted_x = float(x)
print(converted_x)
print(type(converted_x))

10
<class 'int'>
3.0
<class 'float'>

In [ ]:
b = "11" # String değeri başka bir değişkene atamazsak type yine string olur
         # Ancak döndürmek istediğimiz veri tipinin sonucunu çıkrı alabiliriz.
print(int(b))
print(type(b))
c = int(b)
print(type(c))

11
<class 'str'>
<class 'int'>

In [ ]:
alfa = "2.5"
print(float(alfa))
print(type(alfa))
beta = float(alfa)
print(type(beta))

2.5
<class 'str'>
<class 'float'>

In [ ]:
3 + "3"

TypeError: ignored

In [ ]:
3 + int("3")

6

In [ ]:
str(3) + "3"

'33'

In [ ]:
3 + float("3") # Float bir değerle işlem yapıldığında sonucu her zaman float olacaktır.

6.0

SIMPLE OPERATION

Aritmetic Operators

In [ ]:
# / Bölme işlemidir ve sonucu Float olarak verir.
# // Bölme işlemidir ve tam sayı olarak bölümü verir
#  % Bölme işlemidir. Mod alma denir. Bölmede kalanı verir.
# modulus 2 de kalan 1 ise tektir, kalan 0 ise çiftttir.

In [ ]:
20  / 2

10.0

In [14]:
29 // 3

9

In [15]:
31 // 3

10

In [ ]:
21 % 2

1

In [ ]:
29 % 3

2

In [ ]:
print(11-7)

4

In [ ]:
print(4+11.0)

15.0

In [ ]:
print('11-7')

11-7

In [ ]:
print('4' + 4) # hata verir çünkü bir str ile int toplanamaz. İkisinin de aynı cinsten olması gerekir.

TypeError: ignored

In [ ]:
pi = 3.14 # dairenin alanını hesaplayalım.
r = 5
area = pi * r**2
print(area)

78.5

In [ ]:
print(11%2)
print(4*5/2)

1
10.0

In [ ]:
print(1**3)
print(3**2)
a = 2
b = 8
print((a*b)**0.5)

1
9
4.0

In [ ]:
a = 0
a

0

In [ ]:
a = a + 1
a

2

In [ ]:
a = a +1
a

3

In [ ]:
b = 4
b

4

In [ ]:
b = b - 1
b

3

In [ ]:
b = b -1
b

2

In [ ]:
b = b - 1
b

1

In [ ]:
c = 2
c

2

In [ ]:
c = c * 2
c

4

In [ ]:
c = c*2
c

8

In [ ]:
# n = n + 1   ==  n += 1 bu diğer bütün aritmetic operatorlerimizde geçerlidir
# İşlem öncelik sırası: önce parantez, son power ** yani üslere bakar, 
# sonra negatif sayıları parantez içinde gibi algılar, sonra çarpma * ve bölme /,
# daha sonra toplama ve çıkarma işlemlerini yapar.

In [ ]:
a = 3
b = 4 
c = (a ** 2 + b ** 2) ** 0.5
print(c)

5.0

OPERATİON WİTH PRİNT FUNCTİON

In [ ]:
# print() in içine hem değişkeni hem de değeri yazarak çıktı alabiliriz.
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False) value: içine yazılmasını istediğimiz şeylerdir.
# sep='' default u space tir. tanımlama yapılırsa sep='+++' şeklindeki gibi boşluk değil value arasına +++ koyar.
# end='\n' default u new line dır. yani kabaca enter tuşuna basmaktır.

In [16]:
print("ahmet", "mehmet", "sevilay")
print("ahmet", "mehmet", "sevilay", sep='-')
print("ahmet", "mehmet", "sevilay", sep='+++')

ahmet mehmet sevilay
ahmet-mehmet-sevilay
ahmet+++mehmet+++sevilay

In [ ]:
print("ahmet", "mehmet", "sevilay", sep='\n')

ahmet
mehmet
sevilay

In [ ]:
print("ahmet", end='-')
print("mehmet", end=' ')
print("sevilay")

ahmet-mehmet sevilay

In [ ]:
print("clarusway", end='\n\n')
print('istanbul')

clarusway

istanbul

ESCAPE SEQUENCES

In [19]:
# \n means newline
# \t means tab mark
# \b means backspace. It moves the cursor one charecter to the left
print("\"")
print('C:\\north pole\noise_penguins.txt') # \\ çift backslash olunca normal str olmuş oluyor.
print("_ _ _ _ _ _ _ _ _")
print('first', 'second', 'third', sep='\t')

"
C:\north pole
oise_penguins.txt
_ _ _ _ _ _ _ _ _
first	second	third

BOOLEAN OPERATİON

In [ ]:
# True veya False value alır.
# and operatörü: Bir satırda hepsi True ise and en sondaki(sağdaki) değeri verir. Aksi halde ilk False' döndürür.
# Yani bir tane bile False varsa False'a çevirir. Birden fazla False varsa o zaman ilk False döndürür.

# or operatörü eğer hepsi False ise en sondakini verir. Eğer bir tane bile True varsa ilk True yu verir.

# not operatörü önüne geldiği ifadeyi tersine döndürür. yani True'nun önüne gelirse False yapar; False'ın önüne gelirse True yapar

#  Order of priority: 1- not 2- and 3-or ama eğer parantez varsa öncelik tabiki parantezindir.

Falsy Values in Python

In [ ]:
# Python'da her değerin bir truty veya falsy değeri vardır.
# None
# Zero: 0, 0.0, 0j
# ''(Boş str), [] (Boş list), {} (Boş dictionary) falsy'dir.

# Geri kalan her şey Truety dir.

In [ ]:
2 and 3

3

In [ ]:
0 and 1

0

In [ ]:
3 and 2 and 1

1

In [ ]:
bool("")

False

In [ ]:
bool(" ") # burada stringin içinde space değeri olduğu için boş değil. Bu nedenle True verdi.

True

In [ ]:
bool(0.0)

False

In [ ]:
bool(0j)

False

In [ ]:
bool(0)

False

In [ ]:
print(2 and "hello world")
print([] and "be happy")
print(None and ())

hello world
[]
None

In [ ]:
bool(()) # boş tupple da False

False

In [ ]:
2 or 3

2

In [ ]:
None or 1

1

In [ ]:
none or 1

NameError: ignored

In [ ]:
"none" or 1

'none'

In [20]:
print(2 or "hello world")
print([] or "be happy")
print({} or 0)
print({0} or False)
print(bool({0}))

2
be happy
0
{0}
True

In [ ]:
True or False and "False"and not "False" and 0

True

In [ ]:
not ("None" or None) and False or ("and" and not ()) # örneği atomlarına parçalayalım

True

In [ ]:
not "None" and False or True

True

In [ ]:
False and False or True

True

In [ ]:
False or True

True

In [21]:
print(False or {0} and [])

[]

In [ ]:
{0} and []

[]

In [ ]:
False or []

[]

THE STRENGTH OF THE STRİNG

In [ ]:
# İNDEXİNG :
# Stringler iterable dır. (Yani elemanlarına ayrılabilir.) Bu nedenle elemanlarını değerin içinden seçip çıkarabiliriz.
print("ALI"[0]) # index no 0 dan başlar.
print("ALI"[1]) 
print("ALI"[2])

A
L
I

In [ ]:
isim = "cihat" #Değişkene bir değer atandıktan sonra değişken adıyla da indexleme yapılabilir.
print(isim[2])

h

In [ ]:
# SLİCİNG:
# [start:stop:step] Start slice'lamaya dahildir ancak stop numarası dahil değildir. Step kaçarlı olarak ilerleneceğini gösterir.
"clarus-way"[6:8]

'-w'

In [ ]:
fruit = "Orange"
print("Word                 : ", fruit)
print("First letter         : ", fruit[0])
print("Second letter        : ", fruit[1])
print("3rd to 5th letters   : ", fruit[2:5])
print("Letter all after 3rd : ", fruit[2:])

Word                 :  Orange
First letter         :  O
Second letter        :  r
3rd to 5th letters   :  ang
Letter all after 3rd :  ange

In [ ]:
# [:] Baştan en sona git. 1 er 1 er.
# [2:5] 2 den başla 5-1'e kadar 1'er 1'er git.
# [2:10:2] 2'den başla 10-1'e kadar 2'şer e'şer git.

input() FUNCTİON

In [22]:
sayı = input("bir sayı giriniz :")

bir sayı giriniz :44

In [23]:
print(sayı)

44

In [ ]:
type(sayı) # input() fonksiyonu; eğer değerin type'ını belirtmezsek str olarak algılar.

str

In [ ]:
rakam = int(input("Bir rakam giriniz :"))

Bir rakam giriniz :9

In [ ]:
print(rakam)

9

In [ ]:
type(rakam)

int

In [ ]:
city = 'Phoenix'
print(city[1:]) # 1 Den başla sonuna kadar git
print(city[:6]) # baştan başla 5 e kadar git
print(city[::2]) # baştan başla, sonuna kadar 2'şerli olarak git
print(city[1::2]) # 1'den başla sonuna kadar 2'şerli olarak git
print(city[-3:]) # -3 ten başla sonuna kadar git. negative indexing
print(city[::-1]) # negativ olarak en sağdan başla ve en başa gel

hoenix
Phoeni
Ponx
hei
nix
xineohP

Negative İndexing

In [ ]:
fruit = "Orange"
print(fruit[-6])
print(fruit[-1])
print(fruit[-5:-2])
print(fruit[::-1])
print(fruit[-1])
print(fruit[::-2])
print(fruit[-2:-5:-1])
print(fruit[-4:-1:])
print(fruit[4:1:-1])
print(fruit[-3:-6]) # boş string değeri verir. Çünkü step negatif oloarak belirtilmemiş bu nedenle pozitif alıyor.
# Ancak pozitif aralıkta karşılığı yok.

O
e
ran
egnarO
e
enr
gna
ang
gna

len() FUNCTİON

In [ ]:
#  iterable bir değerin uzunluğunu verire.
len('orange')

6

In [ ]:
vegetable = 'tomato'
print('length of the word ', vegetable, 'is : ', len(vegetable))

length of the word  tomato is :  6

STRİNG FORMATTİNG WİTH ARİTHMETİC SYNTAX

In [ ]:
print('upper' + 'case')
print('uppercase' * 3)
print(*'upper') # soluna asterix (*) koyduğumuz zaman elemanlarını iterate eder ve görünür hâle getirir.

uppercase
uppercaseuppercaseuppercase
u p p e r

In [ ]:
string_1 = 'I am angry...'
string_2 = '1453'
print(*string_1)
print(*string_2)
print(*'joseph@clarusway.com') # space stringin bir karakteridir. eleman olarak onu da algılar

I   a m   a n g r y . . .
1 4 5 3
j o s e p h @ c l a r u s w a y . c o m

In [ ]:
str_one = 'upper'
str_one += 'case'
print(str_one) # uppecase
str_one += 'letter'
print(str_one) # uppercaseletter
str_one += 'end'
print(str_one) # uppercaseletterend

uppercase
uppercaseletter
uppercaseletterend

"string".format() METHOD

In [ ]:
# 'string {} string {} string'.format(data1, data2) data1= 0. index, data2 = 1. index
# index numaralarını {} içine yazarak da formatlama yapabiliriz. Ancak .format() metodunda
# eğer bir atama yapmazsak index nu sırasıyla atanır.

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} and {} we bought is {} pounds.'\
      .format(fruit, vegetable, amount))

The amount of Orange and Tomato we bought is 4 pounds.

In [ ]:
print('{state} is the most {adjective} state of the {country}.'\
      .format(state = 'California', country = 'USA', adjective = 'crowded'))
# değişken formatın içinde tanımlanabilir. {} içine değişken adı yazılarak da formatlama yapılabilir. Buna:
# keyword, argument denir. Süslü parantezin içi boşsa sıra önemlidir.

California is the most crowded state of the USA.

In [ ]:
state = 'California'
country = 'USA'
adjective = 'crowded'

print('{0} is the most {2} state of the {1}.'.format(state, country, adjective))
# ******SONUÇ OLARAK*****
# 1- Parantezin içinde tanımladığım değişkenleri süslü parantez içine yazarak çıktı alabilirim.
# 2- Dışarıda tanımladığım değişkenleri, süslü parantez içine index numarası yazarak çıktı alabilirim.
# 3- Dışarıda tanımladığım değişkenleri, Positional olarak sırayla atama yaptırabilirim.

California is the most crowded state of the USA.

In [ ]:
#  Mix olarak hepsini gösterelim
print('{} is the most {adjective} state of the {}.'\
      .format('California', 'USA', adjective = 'crowded')) 
# positional keyword ler önce yazılmak zorunda yoksa hata verir.Eğer adjective değişkenini önce yazsak hata verecekti.

California is the most crowded state of the USA.

In [ ]:
print('{0} is the most {2} state of the {1}.'.format('California', 'USA', 'crowded'))

California is the most crowded state of the USA.

In [ ]:
print('{} is the most {} state of the {}.'.format('California', 'crowded', 'USA'))

California is the most crowded state of the USA.

In [ ]:
print("{no} - {month} - {month}".format(no = "12", month = "Feb"))
# Bir değişkeni bir kaç süslü paranteze atayabilirim.

12 - Feb - Feb

f-string METODUYLA STRİNG FORMATLAMA

In [ ]:
# f'string {variable1} string {variable2} string {variable3} string' syntax'i böyledir.
# string'in başına bir f gelir sonra tırnak.
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
print(f'The amount of {fruit} and {vegetable} we bought is {amount} pounds.')

The amount of Orange and Tomato we bought is 6 pounds.

In [24]:
sample = f"{2 ** 3}" # f ile bu tarz formatlamalar da yapabiliriz.
print(sample)
print(type(sample))

8
<class 'str'>

In [ ]:
name = "MARIAM"
print(f"My name is {name.capitalize()}") # .capitalize kelimenin sadece baş harfini büyük yapar.

My name is Mariam

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
    f"Hi {name}. " 
    f"You are one of the {job} "
    f"in the {domain} section."
)
print(message)
# Uzun bir stringi formatlarken görüntünün güzel ve okunaklı olması için parantez içinde alt alta bir kaç f"string" yapabiliriz.

Hi Joseph. You are one of the teachers in the Data Science section.

In [ ]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWAY IT university"
print(
    f"{name} is a {age} "
    f"{gender} and she is a student "
    f"at the {school}."
)

Susan is a young lady and she is a student at the CLRWAY IT university.

MAİN STRİNG OPERATİONS

In [ ]:
# Immutability (değiştirilemezlik)
# Stringler yerinde değiştirilemez. Ancak değişkene yeni bir değer atanarak değiştirilebilirler.
var_string = 'ClarusWay'
print(var_string.lower())
print(var_string)
var_string = 'ClarusWay'.lower() # Burada yeni bir değer atadık. Bu arada .lower() bütün harfleri küçük yapar.
print(var_string)

clarusway
ClarusWay
clarusway

In [ ]:
değişken_1 = "ClarusWay"
print(değişken_1.upper())
değişken_1 = "ClarusWay".upper() # upper() bütün harfleri büyük yapar.
print(değişken_1)

CLARUSWAY
CLARUSWAY

SEARCHİNG A STRİNG

In [25]:
# string.startswith() Bir stringin baş karakterinden sonuna kadar arar
# string.endswith() bir stringin son karakterinden itibaren arar 
# ***** HER İKİSİ DE BOOLEAN SONUÇ DÖNDÜRÜR *****
text = 'www.clarusway.com'
print(text.endswith('.com')) # Doğruysa True döndürür
print(text.startswith('www.'))
print(text.startswith('http:')) # Yanlışsa False döndürür

True
False
False

In [28]:
# **** STRİNG UZUNSA ***
# string.startswith(prefix[, start[, end]]) 
# string.endswith(suffix[, start[, end]]) (end dahi değil) yani end-1 olmalıdır.
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@" , 9)) # index no 9 olandan başla
print(email.endswith("-", 10, 32)) # index no 10 olandan başla

True
True

In [40]:
para = 1000
print("{:.2f}".format(para)) # "{:.2f".format() metodunu kullanarak noktadan sonra 2 basamaklı yaptım. 
para = para * 0.07 + para # pts
print("{:.2f}".format(para))
para += para * 0.07 # salı
print("{:.2f}".format(para))
para += para * 0.07 # çarş
print("{:.2f}".format(para))
para += para * 0.07 # perş
print("{:.2f}".format(para))
para += para * 0.07 # cuma
print("{:.2f}".format(para))
para += para * 0.07 # cts
print("{:.2f}".format(para))
para += para * 0.07 # pazar
print("{:.2f}".format(para))

1000.00
1070.00
1144.90
1225.04
1310.80
1402.55
1500.73
1605.78

CHANGİNG A STRİNG

In [ ]:
# string.method(arguments) Method bir fonksiyondur ancak bir objeye bağlıdır.
# str.replace(old, new[, count])
# str.swapcase() string içindeki büyük harfleri küçük, küçük harfleri büyüğe çevirir.
# str.capitalize() stringin ilk karakterini büyük harf yapar sonrakileri küçük...
# str.upper() stringin bütün harflerini büyük yapar..
# str.lower() stringin bütün harflerni küçük yapar...
# str.title() string'deki bütün kelimelerin ilk harflerini büyük yapar.. Diğer harflerini de küçük yapar.

In [ ]:
print("cihaT".title())

Cihat

In [ ]:
sentence = "I live and work in Virginia"
print(sentence.upper())
print(sentence.lower())
print(sentence.swapcase())
print(sentence) # kaynak metin değişmemiştir çünkü değişkene yeni değer tanımlamadık.

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [ ]:
# Yukarıdaki metodların tamamı str type çıktı üretir bu nedenle:
# string.method1().method2().method3()... bu metodları sırasıyla uygular
sentence = "I live and work in Virginia"
title_sentence = sentence.title()
print(title_sentence)
changed_str = sentence.replace("i", "+")
print(changed_str)

I Live And Work In Virginia
I l+ve and work +n V+rg+n+a

In [ ]:
text = "the better the family, the better the society"
print(text.title())
print(text.title().capitalize())
print(text.title().capitalize().swapcase())
print(text.title().capitalize().swapcase().upper())
print(text.title().capitalize().swapcase().upper().lower())
print(text.title().capitalize().swapcase().upper().lower().replace("the", "THE"))

The Better The Family, The Better The Society
The better the family, the better the society
tHE BETTER THE FAMILY, THE BETTER THE SOCIETY
THE BETTER THE FAMILY, THE BETTER THE SOCIETY
the better the family, the better the society
THE better THE family, THE better THE society

In [ ]:
text = "S0d0me and G0m0re"
print(text.replace("0","o"))

Sodome and Gomore

EDİTİNG A STRİNG

In [ ]:
# string.method(arguments) str düzenlemenin yöntemleri

örnek = "       başında ve sonunda boşluk olan bir cümle......       "
print(örnek.strip())  # string.strip() stringin her iki yanındaki özel karakterleri veya boşluğu atmamızı sağlar.
print(örnek.rstrip()) # string.rstrip() stringin sağındaki özel karakteri ya da boşlukları atar.
print(örnek.lstrip()) # string.lstrip() stringin solundaki özel karakteri ya da boşlukları atar.

başında ve sonunda boşluk olan bir cümle......
       başında ve sonunda boşluk olan bir cümle......
başında ve sonunda boşluk olan bir cümle......

In [ ]:
# strip() parantez içinde default olarak boşluk alma tanımlandığı için bolukları attı
# oysa biz kendimiz parantez içine atılacak öğeyi tanımlayabilirdikç Mesela:
text = "aaa     yaz geldi bahar geldi açtı yeşil yapraklar     a   aaaaaaa"
print(text.strip("aaa"))
#  Bu işlemi .rstrip() ve .lstrip için de kullanabiliriz.

     yaz geldi bahar geldi açtı yeşil yapraklar     a

In [ ]:
ornek = "interoperability"
print(ornek.strip("yi")) # "y", "i", "yi" ya da "y", harflerini her iki taraftan atar 
print(ornek.lstrip("in")) # stringimiz iki karakterli olduğu için sadece soldaki iki karakter içinde arayacak.

nteroperabilit
teroperability

In [ ]:
text = "tyou can learn almost everything in pre-classz"
print(text.lstrip("t").rstrip("z").upper())
print(text.strip("tz").upper())

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS
YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS

In [ ]:
metin = "In God wee Trust"
print(metin[0:9], metin[11:])
print(metin.replace("e", "", 1))
print(metin.replace("ee", "e"))
print(metin.replace("wee", "we").title())
print(metin.replace("wee", "We"))

In God we Trust
In God we Trust
In God we Trust
In God We Trust
In God We Trust

COLLECTION TYPES

In [ ]:
#  ***** Collection fonksiyonları (set, list, tupple, dict) iterable olan verileri parantez içerisine alır,
# bunların elemanlarının her birini teker teker böler ve 
# böldüğü her bir elemanını o collection fonksiyonunun bir elemanı haine getirir********
# Collection types veri kümeleridir.
# List : listeler
# Tupple : demetler
# Dictionary : sözlükler
# Set : kümeler

LİST

In [ ]:
# list() veya liste = []
# list, içerisine iterable alır.
word = "hap   py" # list fonksiyonu string bir değerdeki boşlukları da iterable olması nedeniyle listeye alır.
print(list(word))

['h', 'a', 'p', ' ', ' ', ' ', 'p', 'y']

In [ ]:
print(list(111)) # integer bir veri iterable olmadığı için hata verir. Ancak bunu str yaparsak list olarak çıktı alırız.

TypeError: ignored

In [ ]:
a = "123po  ıu-,.ç"
print(list(a))
b = [a]
print(b) # b'ye a liste olarak atandığı için b'nin tek elemanı a'dır.

['1', '2', '3', 'p', 'o', ' ', ' ', 'ı', 'u', '-', ',', '.', 'ç']
['123po  ıu-,.ç']

In [ ]:
a = ["ALİ"] # Burada köşeli parantez içindeki "ALİ" listenin tek elemanı oldu.
print(a)

['ALİ']

In [ ]:
string_1 = "I quit smoking" # list() fonksiyonu ve [] listeğe değer atama arasındaki farkı bu örnekle net bir şekilde görebiliriz.
new_list_1 = list(string_1)
print(new_list_1)  # 14 elemanlı bir liste olur.
new_list_2 = [string_1]
print(new_list_2) # tek elemanlı bir liste olur.

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [ ]:
mixed_list = [11, joseph, False, 3.14, None, [1,2,3]]  #Liste içinde her türlü veriyi saklayabiliriz.

In [31]:
my_list = ['joseph', 'Clarusway', 2020]
new_list11 = list(my_list)
new_list22 = [my_list]
print(len(my_list))
print(new_list11)
print(len(new_list11))
print(new_list22)
print(len(new_list22))

3
['joseph', 'Clarusway', 2020]
3
[['joseph', 'Clarusway', 2020]]
1

Basic Operations with Lists

In [ ]:
# Boş liste list() veya [] şeklinde yapılır. İçine daha sonradan veri koymak için yapılır.
# .append() metodu listenin sonuna bir eleman eklemek için kullanılır.

In [ ]:
numbers = [1,4,7] 
numbers.append(9) # listeleri mahallinde değiştirebiliriz. string gibi değil. listenin sonuna int olarak ekleyecek.
numbers.append("9") # listenin sonuna string olarak ekleyecek
print(numbers)

[1, 4, 7, 9, '9']

In [33]:
cc = []

In [36]:
cc.append(11) # burada kod satırını her çalıştırdığımda cc değişkeninin sonuna eleman ekler ve değişkeni yerinde değiştirir.
cc

[11, 11, 11]

In [ ]:
empty_list = []
empty_list.append(1)
empty_list.append(2)
empty_list.append(3)
empty_list.append(4)
print(empty_list)

[1, 2, 3, 4]

In [ ]:
# .insert() metodu listenin içinde herhangi bir yere yeni bir eleman eklemek için kullanılır.
# parantez içindeki birinci sayı index numarasıdır, ikincisi eklenecek veridir.
# İlgili index numarasına atanan veri eklenir ve diğer veriler onu sağından takip eder.
numbers = [1,4,7]
numbers.insert(2, 9)
print(numbers)
numbers.insert(2, 6)
print(numbers)

[1, 4, 9, 7]
[1, 4, 6, 9, 7]

In [ ]:
city = ["los", "beirut", "tokyo"]
city[0] = True
print(city)
city[1:] = "clarus"
print(city)

[True, 'beirut', 'tokyo']
[True, 'c', 'l', 'a', 'r', 'u', 's']

In [ ]:
city1 = ["istanbul", "yozgat", "erzurum", "ankara"]
print(city1)
city1[0:2] = ["a","b"]
print(city1)
city1[0:2] = "abcd"
print(city1)

['istanbul', 'yozgat', 'erzurum', 'ankara']
['a', 'b', 'erzurum', 'ankara']
['a', 'b', 'c', 'd', 'erzurum', 'ankara']

In [ ]:
#  \\ çıktı almak için ne yapmalı
print("\\\\")
print("\\" + "\\")

\\
\\

In [ ]:
a = 3
b = 4
print("{} + {} 'ün toplamı {} 'dir.".format(a, b, a+b)) # positional olarak hepsi sırayla gitti.

3 + 4 'ün topmamı 7 'dir.

In [ ]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.3676, 7.324567)
print(text) # virgüllden sonraki basamak sayısı Float'larda bu şekilde yani: "{:.f}" ile ayarlanır.

3.15, 5.368, 7.3246

In [ ]:
text = "{:.2s}, {:.3s}, {:.4s}".format("3.1463", "5.3676", "7.324567")
print(text) # sondan itibaren almasını istediğimiz karakter sayısı stringler'lerde bu şekilde yan "s" ile ayarlanır.

3., 5.3, 7.32

In [ ]:
text = "{:>20}".format("clarusway")
print(text) # bu işlemle yani '>' işlemiyle 20 karakter sağa yasladık
text = "{:<20}".format("clarusway")
print(text) # bu işlemle yani '<' işlemiyle 20 karakter sola yasladık

           clarusway
clarusway

In [ ]:
text1 = 'formatlama {:>10} formatlama'.format('test')
print(text1) # sağa yasladık

formatlama       test formatlama

In [ ]:
text2 = 'formatlama {:<10} formatlama'.format('test')
print(text2) # sola yasladık
text2 = '{:^20}'.format('test') # sağından solundan 20 karakter hizalayarak ortaladık.
print(text2)
text2 = 'formatlama {:^20} formatlama'.format('test')
print(text2)

formatlama test       formatlama
        test
formatlama         test         formatlama

In [ ]:
"{:.5}".format("hippopotamus")

'hippo'

In [ ]:
"{:10.3}".format("hippopotamus")

'hip       '

In [ ]:
"{:>10.3}".format("hippopotamus")

'       hip'

In [ ]:
"{:<10.3}".format("hippopotamus")

'hip       '

In [ ]:
"{:^10.3}".format("hippopotamus")

'   hip    '

In [ ]:
'{:.5}'.format(3.1432407568430765347345) # noktayla beraber 5 değeri alır

'3.1432'

In [ ]:
'{:.5}'.format("3.1432407568430765347345") # noktayla beraber 5 değeri alır

'3.143'

In [ ]:
a = [1,2,3,4] # .insert metodunu kullanarak listenin sonuna '5' i ekledik. İndex numarasına dikkat ettik
a.insert(4, 5)
print(a)

[1, 2, 3, 4, 5]

.remove() METODU

In [ ]:
# .remove listeden elemanı kaldırır. kaldırmak istediğimiz elemanı listeden çıkarır 
numbers = [1,4,7,9]
numbers.remove(7)
print(numbers)

[1, 4, 9]

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

.sort() METODU

In [ ]:
# listenin elemanlarını sıralar.
numbers = [4,1,9,7]
numbers.sort()
print(numbers)

[1, 4, 7, 9]

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()
print(city)  # Stringleri Alfabetik olarak sıraladı.

['Addis Ababa', 'Istanbul', 'London', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [ ]:
mix_list = ['d', 1, 'a', 7]   # ******SIRALAMAZ******
print(mix_list.sort())

TypeError: ignored

In [ ]:
list_1 = ['one', 'four', 'Nine'] 
list_1.sort()
print(list_1) # NORMALDE ALFABETİK OLARAK SIRALAR ANCAK BÜYÜK HARFLE BAŞLAYAN STRİNG DEĞER VARSA İLK SIRAYA ONU ALIR.

['Nine', 'four', 'one']

In [ ]:
list_2 = ['@', '*-', 'False']  # Stringlerin Ascii kodları var. Burada buna göre büyükten küçüğe sıralıyor. 
list_2.sort()
print(list_2)

['*-', '@', 'False']

ord()   ve chr() FONKSİYONLARININ KULLANIMI

In [ ]:
ord('@') # ord() fonksiyonu ile stringlerin ascii değerlerini öğrenebiliriz

64

In [ ]:
ord('*')

42

In [ ]:
chr(42) # chr() fonksiyonu Ascii değeri girilen karakterin hangisi olduğunu çıktı verir.

'*'

In [ ]:
xx = [True, False] # Flase = 0, True = 1 olduğu için sıralamaya küçükten başlıyor.
xx.sort()
print(xx)

[False, True]

In [ ]:
list_4 = [[3], [44], [-12]] # liste içini de en küçükten itibaren sıralıyor. 
list_4.sort()
print(list_4)

[[-12], [3], [44]]

In [ ]:
list_5 = [[1, 3], [44, -40], [-12, 1]] # liste içindeki ilk elemena göre sıralıyor.
list_5.sort()
print(list_5)

[[-12, 1], [1, 3], [44, -40]]

In [ ]:
yy = [[1, "bir"], [-1, "iki"], [3, "üç"]]   
yy.sort()
print(yy)

[[-1, 'iki'], [1, 'bir'], [3, 'üç']]

In [ ]:
yy = [["bir", 1], [-1, "iki"], [3, "üç"]] # Python tutarlı ilk elemanlarına göre sıraladığı üstteki ve bu örnekte açık bir şekilde görülüyor.
yy.sort()
print(yy)

TypeError: ignored

In [ ]:
yy = [1,5,8,3,7]   # yy.sort(*, key=None, reverse = False) olduğu için küçükten büğüye sıralıyor.reverse'in default'u False'tur.
yy.sort(reverse=True)  # ancak biz bu parametreyi yy.sort(*, key=None, reverse = True) yaparsak büyükten küçüğe sıralar
print(yy)

[8, 7, 5, 3, 1]

ACCESİNG THE LİST

In [ ]:
#  İNDEXİNG AND SLİCİNG: SYNTAX: list_name[index no]
word = ['h', 'a', 'p', 'p', 'y']
print(word[0])
print(word[1])
print(word[2])
print(word[3])
print(word[4])
print(word[0])
print(word[0:4:2])

h
a
p
p
y
h
['h', 'p']

In [ ]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.
type(colors[2])

blue

str

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list) # city_list listesinin içinde city adlı listeden oluşan tek bir eleman vardır.

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [ ]:
sehirler = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(sehirler[0])
print(sehirler[0][0])
print(sehirler[0][1])
print(sehirler[0][2])
print(sehirler[0][3])
print(sehirler[0][4])
print(sehirler[0][1:4])
print(sehirler[0][2][3]) # Istanbul' un "a"sına ulaştırmış olacak bizi.

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
New York
London
Istanbul
Seoul
Sydney
['London', 'Istanbul', 'Seoul']
a

In [ ]:
print(len([[1,2,3]][0])) # [[1,2,3]] [0] listenin ilk elemanını indexler. Yani Bize [1,2,3] listesini verir.
                         # len([1,2,3]) de; listenin 3 elemanı olduğu için 3 sonucunu verir.

3

range() FUNCTİON

In [ ]:
# range() function bir objenin ilkini alarak sonuncusunu almadan bir sıra üreten fonksiyondur.
range(1,11)
print(range(1,11))
number = list(range(1,11))
print(number)

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
number = list(range(1,11)) # tek sayıları seçelim...
odd_1 = list(range(1,11,2))
odd_2 = number[0:11:2]
print(odd_1)
print(odd_2)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [ ]:
mix_list = [1,[1,"one", 2, "two", 3, "three"], 4] # str olan numaraları seçelim...
print(mix_list[1][1::2])
print(mix_list[1][1:6:2])

['one', 'two', 'three']
['one', 'two', 'three']

Negative İndexing and Negative Slicing

In [ ]:
# Negatif index ve negatif step aynı şey değildir.
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

.split() METODU

In [ ]:
harfler = "a b c d e f g h i j".split() # STRİNG DEĞERLERİ ELMANLARINA AYIRARAK LİSTE YAPAR
print(harfler)
harfler[7:3:-1]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

['h', 'g', 'f', 'e']

In [ ]:
harfler[2:6:-1] # start indeximiz soldan başlayıp sağa  yani 6'ya gittiği için negatif step boş liste verir.

[]

In [ ]:
"a-b-c-d".split("-")

['a', 'b', 'c', 'd']

sorted() FONKSİYONU

In [ ]:
isimler = ["ahmet", "mehmet", "ceylan", "seyhan"]
sorted(["ahmet", "mehmet", "ceylan", "seyhan"])

['ahmet', 'ceylan', 'mehmet', 'seyhan']

In [ ]:
sorted(isimler)

['ahmet', 'ceylan', 'mehmet', 'seyhan']

In [ ]:
sehirler = ["tokyo", "addis ababa", "rome", "istanbul", "rio"]
sorted(sehirler)

['addis ababa', 'istanbul', 'rio', 'rome', 'tokyo']

In [ ]:
sorted(sehirler, key = len) #  sorted fonksiyonu; sorted(iterable, *, key=None, reverse=False) şeklinde tanımlanmıştır.
# # key parametresini key = len yaparsak uzunluğuna göre yani küçükten büyüğe sıralar.
# key parametresine nasıl sorusunun cevabını veririz.

['rio', 'rome', 'tokyo', 'istanbul', 'addis ababa']

In [ ]:
sorted(sehirler, key = len, reverse = True)  # reverse'ü reverse = True yaparsam bu safer de büyükten küçüğe sıralatmış olurum.

['addis ababa', 'istanbul', 'tokyo', 'rome', 'rio']

In [ ]:
sehirler.sort(key = len, reverse = True) #   sehirler.sort(key = len, reverse = True) .sort() metodunu kullanarak da
# sıralama yapabilirim.
sehirler

['addis ababa', 'istanbul', 'tokyo', 'rome', 'rio']

 *******   TUPLES     ********

In [ ]:
#  Tuple'lar immutable olduğu için değiştirilemez. .append veya .remove metodları listelerde olduğu gibi Tuple'lerde kullanılamaz.
# Tuple'larda () işareti kullanılır.
# Değiştirilmesini istemediğimiz verileri Tuple'larda saklarız.
# Tuple'lar memory de daha az yer kaplar.
# Tuple'lar listelerden daha hızlı çalışır.
#  Verilerimiz Tuple ile güvende.

In [ ]:
import sys # liste ve Tuple'nin ne kadar yer kapladığını görelim.

In [ ]:
x = [1,2,3]
y = (1,2,3)

In [ ]:
print(sys.getsizeof(x))
print(sys.getsizeof(y)) # Görüldüğü gibi Tuple daha az yer kaplamaktadır.

96
80

In [ ]:
# collection type lara iterable olmayan verileri koyamıyorduk. tuple() ve () olmak üzere iki şekilde tuple yapabiliriz.
tuple_1 = ('h', 'a', 'p', 'p', 'y')
word = 'happy'
tuple_2 = tuple(word)
print(tuple_1)
print(tuple_2)

('h', 'a', 'p', 'p', 'y')
('h', 'a', 'p', 'p', 'y')

In [ ]:
benim = ["a", "b", "c"]

In [ ]:
ben_tuple = tuple(benim)
ben_tuple

('a', 'b', 'c')

In [ ]:
x = 1, 2, 3 # Python paranteze alınmayan her şeyi tuple olarak algılar. Sanki parantez varmış gibi düşünür.

In [ ]:
type(x)

tuple

In [ ]:
y1 = (1)
y2 = 1

In [ ]:
type(y1)

int

In [ ]:
type(y2)

int

In [ ]:
my_tuple = ("Solar",)
print(my_tuple, type(my_tuple), sep="\n") # Tuple'da elemanın yanına virgül koyduğumuzda type tuple olur.
#  Tek elemanlı bir tuple oluşturabilmek için yanına virgül koyarız.

('Solar',)
<class 'tuple'>

In [ ]:
aa = "a", "b", "c"
aa

('a', 'b', 'c')

In [ ]:
aa = ("a", "b", "c")
aa

('a', 'b', 'c')

In [ ]:
bb = ("aa")

In [ ]:
type(bb)

str

In [ ]:
cc = "aa",
cc

('aa',)

In [ ]:
# tuple'dan liste'ye, liste'den tuple'ye çevirebiliriz.

In [ ]:
print(tuple(range(1,11)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Tuple 'ları Nasıl Kullanabiliriz

In [ ]:
even_no = (0, 2, 4) # Tuple'larda indexing var. [3] olmadığı için hata verdi.
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

0
2
4

IndexError: ignored

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # Tuple'ye değer atayamayız.

TypeError: ignored

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple[2][2][0]
print(str_six) # indexing and slicing yapabiliriz.

six

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep = "\n")

['two', ('six', 6)]
<class 'list'>

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple[1:3]
print(str_six, type(str_six), sep = "\n")

(11, [2, 'two', ('six', 6)])
<class 'tuple'>

In [ ]:
mix_tuple[-1]

(5, 'fair')

In [ ]:
mix_tuple[-1][-1]

'fair'

*******DİCTİONARY******

In [ ]:
# { } ile gösterilir. {key1 : value1, key2 : value2, key3: value3.....}
# item = key and value. { } ve dict() şeklinde dictionary oluşturulur. 
# Value her şey olabilir ancak key int, str, tuple, float, boolean olabilir. Ancak liste ve dict "key" olarak tanımlanamaz
first_dict = {1 : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1,2):"clrswy"}
first_dict

{(1, 2): 'clrswy', 1: 'one', 1.5: ('one', 'two'), False: [1, 2, 3], 'two': 2}

In [ ]:
# Dict'te accesing [ ] içine key ler yazılır
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [ ]:
print(state_capitals['Colorado'])  # accesing method

Denver

In [ ]:
sehir = "istanbul"
sehir1 = "ankara"
nüfus = 1000

In [ ]:
sehirler = {1 : sehir, 2 : sehir1, "nüfusum" : nüfus}
print(sehirler)

{1: 'istanbul', 2: 'ankara', 'nüfusum': 1000}

In [ ]:
sehirler[2]

'ankara'

In [ ]:
sehirler['nüfusum']

1000

In [ ]:
# yeni bir item atama da yapabiliriz veya mevcut key'in değerini de değiştirebiliriz.
state_capitals['Virginia'] = 'Richmond'
state_capitals

{'Arkansas': 'Little Rock',
 'California': 'Sacramento',
 'Colorado': 'Denver',
 'Georgia': 'Atlanta',
 'Virginia': 'Richmond'}

In [ ]:
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

In [ ]:
family = { 'name1': 'Elif','name2': 'Mesut', 'name3': 'Cihat'}
family

{'name1': 'Elif', 'name2': 'Mesut', 'name3': 'Cihat'}

In [ ]:
family['name4'] = "Nihat"
family

{'name1': 'Elif', 'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat'}

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict) # dict() fonksiyonunu kullanırken stringi stringe atayamayız. Değişkenlere değer atıyor gibi tanımlayacağız.

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
dict(name1 = 'Elif', name2 = 'Mesut', name3 = 'Cihat', name4 = 'Nihat') # dict() fonksiyonunu kullanarak yeni bir dict tanımladık.

{'name1': 'Elif', 'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat'}

Main Operation With dicts

In [ ]:
# item'lar .items() methodunu
# key'ler .keys() metodunu
# value'lar .values() metodunu kullanır
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}
print(dict_by_dict.items(), '\n') # Çıktıda items tuple tuple ayrılır. Yani her bir item bir tuple'den oluşur
print(dict_by_dict.keys(), '\n') # keys ve values liste olarak döner.
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [ ]:
family = {'name1': 'Elif', 'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat'} # items, keys ve values liste şeklinde çıktı aldık.
print(list(family.items()), '\n')
print(list(family.keys()), '\n')
print(list(family.values()))

[('name1', 'Elif'), ('name2', 'Mesut'), ('name3', 'Cihat'), ('name4', 'Nihat')]

['name1', 'name2', 'name3', 'name4']

['Elif', 'Mesut', 'Cihat', 'Nihat']

In [ ]:
# .update() metodu: .append() metodu gibi dict formatında bir veriyi dict'in sonuna ekleme yapar.
family.update({'name5':'Fatma'})
print(family)

{'name1': 'Elif', 'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat', 'name5': 'Fatma'}

In [ ]:
family.update({"a" : 1, "b" : 2}) # Birden fazla item ekleyebiliriz.
family

{'a': 1,
 'b': 2,
 'name1': 'Elif',
 'name2': 'Mesut',
 'name3': 'Cihat',
 'name4': 'Nihat',
 'name5': 'Fatma'}

In [ ]:
# del fonksiyonu item'ı siler.
# del dict_name[key]
del family['name1']

In [ ]:
print(family)

{'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat', 'name5': 'Fatma'}

In [ ]:
del family['b']

In [ ]:
print(family)

{'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat', 'name5': 'Fatma'}

In [ ]:
# tek satırda birden fazla item silme:

del family['name2'], family['name3']

In [ ]:
print(family)

{'name4': 'Nihat', 'name5': 'Fatma'}

In [ ]:
#  key'ler üstünde in  veya not in operatörlerini kullanabiliriz. True ya da False sonucu döndürecek.
family_2 = {'name1': 'Elif', 'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat'}
print(family_2)

{'name1': 'Elif', 'name2': 'Mesut', 'name3': 'Cihat', 'name4': 'Nihat'}

In [ ]:
print('name1' in family_2, '\n')
print('name2' not in family_2, '\n')
print('Elif' not in family_2)

True

False

True

********   NESTED DİCTİONARY   *******

In [ ]:
# school_records'ın 2 item'ı var. Value'lar dict üzerinden derinleşir yani valu iç içe bir sürü dict'ten oluşabilir.. Key'lerde dict olmaz.
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },
        },
}
# geleneksel accesing metodu [ ] ile nested dict'lere de ulaşabiliriz.

In [ ]:
print(school_records['personal_info']['teen']['marry']['age'])

16

In [ ]:
print(school_records['grades_info']['teen']['joseph'])

{'coding': 80, 'math': 89}

In [ ]:
aaaa = school_records["grades_info"]["teen"]["joseph"].items()

In [ ]:
list(aaaa)

In [ ]:
friends = {
    "friend1" : {"first" : "Sue", "last" : "Bold"},
    "friend2" : {"first" : "Steve", "last" : "Smith"},
    "friend3" : {"first" : "Sergio", "last" : "Tatoo"}
}

In [ ]:

favourite = {
    'friends' : {
        "friend1" : {"first" : "Sue", "last" : "Bold"}, 
        "friend2" : {"first" : "Steve", "last" : "Smith"},
        "friend3" : {"first" : "Sergio", "last" : "Tatoo"}
    },
    'family' : {
        'name1': {'first' :'Elif', 'last' : 'Tascı'},
        'name2': {'first' :'Mesut', 'last' : 'Tascı'},
        'name3': {'first' :'Cihat', 'last' : 'Tascı'}
    }
}

In [ ]:
print(favourite)

*****SETS*****

In [ ]:
# tekrara izin yok,  unique2leri seçip almak istersek kümeleri kullanabiliriz
# union, intersection, difference işlemlerini yapabilirim.
# elemanları her seferinde çıktı alırken farklı farklı sıralarda olabilir. unordered...
# küme oluştururken set() fonksiyonunu kullanırız.
set_1 = {'red', 'blue', 'pink', 'red'}
print(set_1)

{'red', 'blue', 'pink'}

In [ ]:
colors = 'red', 'blue', 'pink', 'red' #iterable olan tuple ı alıp set fonksiyonu uyguladık.
set_2 = set(colors)
print(set_2)

{'red', 'blue', 'pink'}

In [ ]:
letter = "a b c d e f g h i j k l m n o p r s t u v y z".split()
print(letter)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'y', 'z']

In [ ]:
print(set(letter)) # sıralama unordered olur.

{'n', 'b', 'o', 'v', 'u', 'j', 'k', 'f', 't', 'd', 's', 'a', 'h', 'l', 'm', 'p', 'c', 'g', 'i', 'e', 'y', 'z', 'r'}

In [ ]:
empty_set = set() # boş bir küme sadece set() fonksiyonuyla oluşturulur. {} ile dict oluşturabiliriz.

print(type(empty_set))

<class 'set'>

Main Operations with Sets

In [ ]:
# .add() : Adds a new item to the set.

# .remove() : Allows us to delete an item.

# .intersection() : Returns the intersection of two sets.

# .union() : Returns the unification of two sets.

# .difference() : Gets the difference of two sets.

In [ ]:
a = set('abracadabra')
a

{'a', 'b', 'c', 'd', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

{'d', 'r', 'b'}
{'d', 'r', 'b'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

{'c', 'b', 'z', 'a', 'm', 'd', 'l', 'r'}
{'c', 'b', 'z', 'a', 'm', 'd', 'l', 'r'}

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

{'c', 'a'}
{'c', 'a'}

In [ ]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

{'b', 'a', 'd', 'r'}

In [ ]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

{'c', 'b', 'a', 'd', 'r'}

In [ ]:
date = '05/05/2021'
print(set(date))

{'0', '/', '5', '1', '2'}

In [ ]:
boş = {date} # {} kümeye çevirdiğimiz zaman tek str içeren elemanı olan bir küme verdi.
print(boş)

{'05/05/2021'}

In [ ]:
given_list = [1,2,3,3,3,3,4,4,5,5,] #unique ler set() fonksiyonuyla bulunabilir.
set(given_list)

{1, 2, 3, 4, 5}

In [ ]:
new_z = set("Wellington")
u_s_a = set("Washington")
print(new_z.intersection(u_s_a))
print(new_z.union(u_s_a))
print(u_s_a.difference(new_z))
print(new_z.difference(u_s_a))

{'g', 'o', 'i', 'W', 'n', 't'}
{'e', 'h', 'g', 'o', 'i', 'W', 'a', 'n', 'l', 's', 't'}
{'h', 's', 'a'}
{'e', 'l'}

Control Flow Statements

In [ ]:
# bir program akışını kontrol etmemize yarayan syntax lardır.
# kodlarımızın çalışmasını belli koşullara bağlar
# aldığımız koşul döngülere yarayabilir, programımızı istediğimiz kadar çalıştırır.
# Bunlar conditionals ve loops lardır.

Conditional Statements

if codition

In [ ]:
#                     if condition :------------->>>>> Bu koşul True veya False verecek.
# indentation<<<<<<-------body

In [ ]:
if condition:
    body
    body2
body3 # python girintiyi özel bir karakter olarak algılar.

In [ ]:
if True:
    print("it is true")

it is true

In [ ]:
if 1:  # Çünkü bir truety dir. Bu nedenle çıktı verir.
    print("ben")

ben

In [ ]:
if None: # Falsy değerlerde döndürmez
    print("ben")

In [ ]:
"ahmet" == "ahmet"

True

In [ ]:
"mehmet" <= "mehmet"

True

In [ ]:
minced = True
bread = True

#greens
lettuce = True
pepper = False

store = True

In [ ]:
hamburger = (minced and store and bread) and (lettuce or pepper)

In [ ]:
hamburger

True

In [ ]:
if hamburger :
    print("Bon Apetite")

Bon Apetite

COMPARİSON OPERATOR

In [ ]:
# <, >, ==, !=, <=, >= Bu operatörler True ya da False döndürür.

In [ ]:
set1 = set("TWELVE PLUS ONE")
set2 = set("ELEVEN PLUS TWO")
print(set1)
print(set2)
print(set1 == set2)
print(set1 < set2)
print(set1 > set2)
print(set1 != set2)
print(set1 <= set2)
print(set1 >= set2)

{' ', 'T', 'S', 'W', 'L', 'U', 'P', 'O', 'N', 'V', 'E'}
{' ', 'T', 'S', 'W', 'L', 'U', 'P', 'N', 'O', 'V', 'E'}
True
False
False
False
True
True

In [ ]:
convert = input("Enter Yes or No : ").title().strip() == "Yes"
print("You entered :", convert)

Enter Yes or No : yes
You entered : True

In [ ]:
print("You entered :", input("Enter Yes or No : ").title().strip() == "Yes")

Enter Yes or No : no
You entered : False

if - else statements

In [ ]:
if condition1:  
    execute body1
else : # if condition1 is not ensured execute body2
    execute body2

In [ ]:
course = 'clarusway'

if course == "clarusway":
    print("you guaranteed the job")
else:
    print("think about it again")

you guaranteed the job

In [ ]:
number = int(input("Enter a number :"))
if number % 2 == 0 :
    print(number, "is even")
else :
    print(number, "is odd")

Enter a number :8
8 is even

In [ ]:
number = int(input("enter a number : "))
if number % 2 == 0 :
    print("{} is Even".format(number))
else :
    print("{} is Odd".format(number))

enter a number : 78
78 is Even

In [ ]:
number = float(input("enter a number : "))
if number > 0 :
    print("Positive number")
else :
    print("Negative number")

enter a number : -18
Negative number

In [ ]:
number1 =  float(input("enter a number : "))
number2 =  float(input("enter another number : "))
if number1 > number2 :
    print("The large number is", number1)
else:
    print("The large number is", number2)

enter a number : 500
enter another number : 474
The large number is 500.0

In [ ]:
num1 = float(input("Enter first number :"))
num2 = float(input("Enter second number :"))

if num1 > num2 :
    larger = num1
else :
    larger = num2
    
print("The larger number is :", larger)

In [ ]:
bool_value = True
if bool_value :
    print("Yes")
else:
    print("No")

Yes

if - elif -else statement

In [ ]:
# if for the ﬁrst one,
# elif for the rest, up until the ﬁnal (optional),
# else for anything not caught by the other conditionals.

In [ ]:
if condition1:
    execute body1

elif condition2:  #istediğimiz kadar elif koyabiliriz.
    execute body2

else:
    execute body3

In [ ]:
audience = "baby"

if audience == "kid":
    print("it is free to go to cinema")
elif audience == "teen":
    print("discounted price!")
elif audience == "adult":
    print("normal price")
else:
    print("No such audience, stay at your home!")

No such audience, stay at your home!

Nested if-elif-else

In [ ]:
number =  []
number.append(int(input("Enter a number : ")))
number.append(int(input("Enter a number : ")))
number.append(int(input("Enter a number : ")))
number.sort(reverse = True)
print("The largest number is: ", number[0])

Enter a number : 12
Enter a number : 14
Enter a number : 16
The largest number is:  16

In [ ]:
num1 = float(input("Enter the first number : "))
num2 = float(input("Enter the second number : "))
num3 = float(input("Enter the third number : "))
if (num1 > num2) and (num1 > num3) :
    largest = num1
elif (num2 > num1) and (num2 > num3) :
    largest = num2
else:
   1
print("the largest number is :", largest)

Enter the first number : 15
Enter the second number : 14
Enter the third number : 7
the largest number is : 15.0

In [ ]:
number = float(input("enter a number : "))
if number > 0 :
    print("Positive number")
elif number == 0 :
        print("Zero")
else :
    print("Negative number")

enter a number : -90
Negative number

In [ ]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [ ]:
score = float(input("Enter your score: ")) # Bu çözüm doğru ama nested değil. 
if score >= 95 :
    print("Your degree is A+")
elif score < 95 and score >= 90 :
        print("Your degree is A")
elif  score < 90 and score >= 85 :
        print("Your degree is B+") 
elif score < 85 and score >= 80 :
        print("Your degree is B")
else : 
    score > 80
    print("Your degree is B-")

Enter your score: 89
Your degree is B+

In [ ]:
score = floatint(input("Enter your score : ")) # Bu cevap nested

if score >= 90 :
    if score >= 95 :
        degree = "A+"
    else :
        degree = "A"
elif score >= 80 :
    if score >= 85 :
        degree = "B+"
    else :
        degree = "B"
else:
    degree = "B-"
    
print("Your degree is : ", degree)

Enter your score : 86
Your degree is :  B+

LOOPS

In [ ]:
# Döngüler, bir kod bloğunun yürütülmesini tekrarlamak (yinelemek) için kullanılır.
# WHİLE döngüleri koşul True olduğu müddetçe body'sini döndürür.
#  for loop'lar kaç kez iterate edileceğini sayar

In [ ]:
while condition: #her döngüde buradaki conditionu kontrol eder.
   body

In [ ]:
while 1 : # koşul Truety olduğu için sonsuza kadar "bir" yazdırır.
    print("bir")

In [ ]:
while 0 : # koşul Falsy olduğu için döngüden çıkar ve 2 yazdırır.
    print("bir")
print(2)

2

In [ ]:
number = 0

while number < 6:
    print(number)
    number += 1
print('now, number is bigger or equal to 6')

0
1
2
3
4
5
now, number is bigger or equal to 6

In [ ]:
my_list=["a", "b", "c", "d", "e"]

a = 0

while a < len(my_list):
    print('square of {} is : {}'.format(a, a**2))
    a+=1

square of 0 is : 0
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [ ]:
age = input("Enter your age : ")

while not age.isdigit() :
    print("You entered incorrectly!")
    age = input("Enter your age correctly please : ")
    
print("Great! You entered valid age :", age)

Enter your age : pl
You entered incorrectly!
Enter your age correctly please : 45
Great! You entered valid age : 45

In [ ]:
#  .isdigit() metodu stringin bir metodudur.
"onaltı".isdigit() # numeric olmayan karakterleri False döndürür.

False

In [ ]:
"16".isdigit() #numeric olan string değerleri True döndürür.

True

In [ ]:
my_num = 45
numbers = int(input("Enter a number :"))
while numbers != my_num :
    if numbers > my_num :   
        print("Little lower!")
        numbers = int(input("Enter a number again :"))
    elif numbers < my_num :
        print("Little higher!")
        numbers = int(input("Enter a number again :"))
else :
    numbers = my_num
    print("You are right")

Enter a number :30
Little higher!
Enter a number again :38
Little higher!
Enter a number again :44
Little higher!
Enter a number again :48
Little lower!
Enter a number again :46
Little lower!
Enter a number again :45
You are right

Question: The Most Frequent Numbers:

In [ ]:
numbers = [-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]

In [ ]:
max(1,2,3)

3

In [ ]:
sequence = [1,1,1,1,2,2,2,3,3,4]
max(sequence)

4

In [ ]:
sequence.count(4)

1

In [ ]:
sequence.count(3)

2

In [ ]:
numbers = [-1, 3, 7, 4, 3, 0, 3, 16, 3, 7, 0, 0, 1]

In [ ]:
max(numbers)

16

In [ ]:
numbers.count(3)

4

In [ ]:
item = max(numbers, key = numbers.count)

In [ ]:
item

3

In [ ]:
numbers.count(max(numbers, key = numbers.count))

4

In [ ]:
numbers.count(item)

4

Comfortable words

In [ ]:
left = set("qwertasdfgzxcvb")
right = set("yuiophjklmn")

In [ ]:
left

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'q', 'r', 's', 't', 'v', 'w', 'x', 'z'}

In [ ]:
right

{'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'u', 'y'}

In [ ]:
word = set("clarusway")

In [ ]:
leftcheck = word.intersection(left)
rightcheck = word.intersection(right)

In [ ]:
print(bool(leftcheck and rightcheck))

True

In [ ]:
leftcheck

{'a', 'c', 'r', 's', 'w'}

In [ ]:
rightcheck

{'l', 'u', 'y'}

In [ ]:
sentence = input("give me a sentence :")

words = sentence.split()
i = 0
longest = 0
while i < len(words) :
    if len(words[i]) > longest :
        longest = len(words[i])
    i += 1

print("the lengt of the longest word is :", longest)

give me a sentence :ben bir  garip öğretmenim yoktur hiç yardım eden öğrencim.
the lengt of the longest word is : 10

In [ ]:
"ben bir cümle girmiş olayım".split()

['ben', 'bir', 'cümle', 'girmiş', 'olayım']

for LOOP

In [ ]:
# for loop yapısı aşaüıdaki gibidir.
for variable in iterable :
    code block

In [ ]:
for i in [1, 2, 3, 4, 5] :  # for loop iterable sırayla ve teker teker alır ve değişkenin içine atar.
    print(i)

1
2
3
4
5

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']

for season in seasons :
    print(season)

spring
summer
autumn
winter

In [ ]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabriel"]
for i in name:
    print("Hello! ", i)

Hello!  Ahmed
Hello!  Aisha
Hello!  Adam
Hello!  Joseph
Hello!  Gabriel

In [ ]:
sayılar = []

for i in range(1,6) :
    sayılar.append(i)
print(sayılar)

[1, 2, 3, 4, 5]

In [ ]:
eleman = "ahmet -, clarusway[]"

In [ ]:
for i in eleman :
    print(i, end = "//")

a//h//m//e//t// //-//,// //c//l//a//r//u//s//w//a//y//[//]//

In [ ]:
word = input("Give me a word :")

count = 0
for i in word :
    count += 1
    if count < len(word) :
        i = i + "-"
    print(i, end = "")

Give me a word :clarusway
c-l-a-r-u-s-w-a-y

In [ ]:
# Python iterate ettiğimiz divtionary de sadece key'leri alır.
user = {
    "name": "Daniel",
    "surname" : "Smith",
    "age" : 35
}
for attribute in user :
    print(attribute)

name
surname
age

Samanlıkta iğne arayalım mı?

In [ ]:
samanlık = ["yumurta", "yaba", "inek", "iğne", "saman", "tezek", "tırmık" ]
print(f"iğne {samanlık.index('iğne')} numaralı indexte.")

iğne 3 numaralı indexte.

#### Tuple kullanarak çoklu değer assign etmek

In [ ]:
v = ("five", 5, True)
(x,y,z) = v
print(x, y, z)

five 5 True

In [ ]:
a, b, c = 1, 2, 3

In [ ]:
(monday, tuesday, wednesday, thursday, friday, saturday, sunday) = tuple(range(1,8))

In [ ]:
sunday

7

In [ ]:
#  BİZE KENDİNİ KAPATAN KETUM DAVRANAN FONKSİYONLARA:
#  1. for döngüleriyle
#  2. collections larla
#  3. * ile görsel hale getirebiliriz.

In [ ]:
print([1,2,3,4] + ["11", "22", 33])

[1, 2, 3, 4, '11', '22', 33]

In [ ]:
tt = (1,2, [1,3,5])

In [ ]:
tt[2].append(4)

In [ ]:
tt

(1, 2, [1, 3, 5, 4])

In [ ]:
x, y = (10, 20)

In [ ]:
print(x)
print(y)

10
20

In [ ]:
a, b = (10, 20, 30, 40)

In [ ]:
a, _, b, _ = (10,20,30,40)

In [ ]:
print(a,b)

10 30

In [ ]:
x, y, z =(11,22,33,44,55)

ValueError: ignored

In [ ]:
x, y, *z = (11,22,33,44,55,66) # Başına yıldız koyunca diğer tüm değerleri yıldızın altında topluyor.
print(x)
print(y)
print(z)

11
22
[33, 44, 55, 66]

In [ ]:
x, y, *z, t = (11,22,33,44,55,66,77) # Aradakilerin hepsini *z içine atar.
print(t)

77

In [ ]:
x, y, *_, t, w = (11,22,33,44,55,66,77,88)
print(t)

77

In [ ]:
isimler = {"ali" : 33,
           "veli" : 44,
           "ayşe" : 2}

In [ ]:
isimler.items()

dict_items([('ali', 33), ('veli', 44), ('ayşe', 2)])

In [ ]:
for a, b in isimler.items() :
    print(a,b)

ali 33
veli 44
ayşe 2

In [ ]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times):
    print('I love you')

In [ ]:
number = int(input("Enter a number betwen 0 - 10 :"))

for i  in range(11) :

    print("{}x{} = ".format(number, i), number * i)

Enter a number betwen 0 - 10 :5
5x0 =  0
5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50

In [ ]:
number = int(input("Enter a number between 1-10 :"))

for i in range(11) :
    print("{}x{} = {}".format(number, i, number*i))

Enter a number between 1-10 :6
6x0 = 0
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
6x10 = 60

In [ ]:
seq = range(5)

In [ ]:
for i in seq :
    print(i)

0
1
2
3
4

In [ ]:
print(list(seq))

[0, 1, 2, 3, 4]

In [ ]:
print(tuple(seq))

(0, 1, 2, 3, 4)

In [ ]:
print(* seq)

0 1 2 3 4

In [ ]:
print(* "separate")

s e p a r a t e

In [ ]:
isimler = ["tarık", "sevda", "selim"]
yaşlar = [11, 22, 33]

In [ ]:
xx = zip(isimler, yaşlar) # zip() fonksiyonu herbir elemanı tuple tuple birleştirir.

In [ ]:
print(list(xx)) # Bir kez içini boşaltttıktan sonra artık iterate edemeyiz.

[('tarık', 11), ('sevda', 22), ('selim', 33)]

In [ ]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
city = ["Tokyo", "Kiev", "Mekke", "İstanbul", "Washington"]

In [ ]:
print(zip(text, numbers)) # zip içi görünür değil, 3 yöntem var: collection, * ve for loop ile görünür yapabilirim.

<zip object at 0x7f255130aa00>

In [ ]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [ ]:
print(* zip(text, numbers))

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [ ]:
print(* zip(text, numbers, city))

('one', 1, 'Tokyo') ('two', 2, 'Kiev') ('three', 3, 'Mekke') ('four', 4, 'İstanbul') ('five', 5, 'Washington')

In [ ]:
evens = []
odd = []
for n in range(10) :
    if n%2 == 0 :
        evens.append(n)
    else :
        odd.append(n)
print(evens)
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
numbers = [11, 36, 33, 66, 89, 21, 32, 16, 10]

In [ ]:
evens = 0
odds = 0

for i in numbers :
    if not i%2 :
        evens += 1
    else:
        odds += 1
print("The count of even numbers : ", evens)
print("The count of odd numbers : ", odds)

The count of even numbers :  4
The count of odd numbers :  6

In [ ]:
for i in range(9):
    i += 1
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
toplam = 0

for i in range(1, 75) :
    toplam = toplam + i
toplam

2775

NESTED for LOOPS

In [ ]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [ ]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]
for i in names: 
    for ii in mood:
        print(i+" is "+ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]

In [ ]:
new_list = []

In [ ]:
for i in my_list :
    if i % 2 :
        new_list.append(i ** 2)
new_list

[1, 9, 25]

## list comprehension'ların temel yapısı :

```python
[expression for item in iterable]


for item in iterable :
    expression
```

In [ ]:
listem = []
for i in range(5):
    listem.append(i)
listem

[0, 1, 2, 3, 4]

In [ ]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
listem = []
for i in range(5):
    listem.append(i**2)
listem

[0, 1, 4, 9, 16]

In [ ]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

In [ ]:
condition = True

if condition :
    a = 1
else :
    a = 0
    
print(a)

1

In [ ]:
a=1 if 2 < 4 else 0
print(a)

1

## ternary `if ` condition yapısı

```python
execute-body1 if condition else execute-body2
```

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]

In [ ]:
[i ** 2 for i in my_list if i%2]

[1, 9, 25]

In [ ]:
for i in my_list :
    if i % 2 :
        new_list.append(i ** 2)
new_list

[1, 9, 25, 1, 9, 25]

In [ ]:
[i ** 2 for i in my_list if not i%2]

[4, 16, 36]

In [ ]:
a = [i ** 2 for i in my_list if not i%2]
a

[4, 16, 36]

In [ ]:
a = (i**2 for i in my_list)

In [ ]:
a

In [ ]:
print(*a)

1 4 9 16 25 36

In [ ]:
for i in a:
    print(i)

1
4
9
16
25
36

In [ ]:
a = (i**2 for i in my_list)

print(next(a))

1

In [ ]:
print(next(a))

4

In [ ]:
print(next(a))

9

In [ ]:
print(next(a))

16

In [ ]:
print(next(a))

25

In [ ]:
print(next(a))

36

In [ ]:
print(next(a))

StopIteration:

In [ ]:
print(*range(5))

0 1 2 3 4

In [ ]:
benim()

In [ ]:
 
lower = 1  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

Enter upper range: 5
2
3
5

In [ ]:
for fizzbuzz in range(101):
    if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
        print("FizzBuzz")
        continue
    elif fizzbuzz % 3 == 0:
        print("Fizz")
        continue
    elif fizzbuzz % 5 == 0:
        print("Buzz")
        continue
    print(fizzbuzz)

In [ ]:
terim_say = 55
# first two terms
n1, n2 = 0, 1
count = 0
while count < terim_say:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272